* {
  box-sizing: border-box;
  font-family: 'Calibri', 'sans-serif';
  text-align: center;
}

body {
  --hints-color: #C58940;
  --background-color: #F7F5EB;
  --text-color: #562B08;
  --button-text-color: var(--text-color);
  --button-background-color: #EAC7C7;
  --transition-delay: 1s;
  --box-background-color: #CEEDC7;

  height: 100%;

  background-color: var(--background-color);
  color: var(--text-color);
  user-select: none;
}

body.dark {
  --hints-color: #ffc83d;
  --background-color: #182747;
  --button-background-color: #562B08;
  --text-color: #D5CEA3;
  --box-background-color: #647E68;
}

table {
  margin: auto;
}

h1{
  font-size: 60px;
  margin: 7px;
}

header button {
  padding: 5px;
  font-size: 17px;
  width: 25%;
  margin: 5px;
  height: 40px;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-radius: 40px;
  border-color: var(--button-text-color);
  font-weight: 600;
}

h2{
  margin:5px
}

header div {
  display: inline-block;
}

header {
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: #4a8a60;
  width: 100%;
}


.topScores {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.topScores h3 {
  display: inline-block;
  margin: 10px
}


button:disabled {
  border: 1px solid #999999;
  color: #666666;
  cursor: 'default';
}

.btnsTop {
  position: absolute;
  right: 2px;
  height: 50px;

}

.btnsTop button {
  width: 50px;
  font-size: 20px;
  background-color: #4a8a60;
}

button{
  cursor: pointer;
}


p{
  margin-top:5px
}
